<mat-card>

    <mat-card-title>Crear Una Cuenta Corriente</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput #ci maxlength="10" placeholder="Numero de CI" [(ngModel)]="newAccount.numberCi" name="numberCi">
      <mat-hint align="end">{{ci.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Ciudad" [(ngModel)]="newAccount.city">
        <mat-option value="1">La Paz</mat-option>
        <mat-option value="2">Oruro</mat-option>
        <mat-option value="3">Potosi</mat-option>
        <mat-option value="4">Cochabamba</mat-option>
        <mat-option value="5">Tarija</mat-option>
        <mat-option value="6">Chuquisaca</mat-option>
        <mat-option value="7">Pando</mat-option>
        <mat-option value="8">Beni</mat-option>
        <mat-option value="9">Santa Cruz</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput #numberC maxlength="8" placeholder="Numero de Celular" [(ngModel)]="newAccount.cell" name="cell">
      <mat-hint align="end">{{numberC.value?.length || 0}}/8</mat-hint>
    </mat-form-field>
    <!--<mat-form-field>-->
    <!--<input matInput #input maxlength="8" placeholder="Codigo">-->
    <!--<mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>-->
    <!--</mat-form-field>-->
    <span class="note">Autorizo al Banco Fassil S.A. a verificar mi información personal, antecedentes personales, laborales y/o financieros en buros de información, SEGIP u otros medios.</span>
    <mat-checkbox [(ngModel)]="newAccount.accept" name="accept">Acepto</mat-checkbox>
    <mat-card-actions>
      <button  mat-button mat-raised-button color="primary" [disabled]="valid()">Aceptar</button>
    </mat-card-actions>
  </mat-card-content>

  <mat-card-footer>
  </mat-card-footer>
</mat-card>
