mat-toolbar{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
}
.example-icon {
  relleno : 0  14px ;
}

.example-spacer {
  flex : 1  1 auto;
}
.container{
  width: 60%;
  position: relative;
  top: 70px;
  margin: auto;
}
.mat-primary {
  background: #022A5B !important;
  color: #fff;
}

