<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img src="https://www.fassil.com.bo/sites/default/files/logo-fassil_4.png" alt=""></span>
    <span class="example-spacer"></span>
    <span>Abre una Cuenta</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
<router-outlet></router-outlet>
</div>
