<mat-accordion>
  <mat-expansion-panel><mat-expansion-panel-header>Cuenta TRe</mat-expansion-panel-header></mat-expansion-panel>
  <mat-expansion-panel><mat-expansion-panel-header>Cuenta Azul</mat-expansion-panel-header></mat-expansion-panel>
  <mat-expansion-panel><mat-expansion-panel-header>Cuenta El Tasón de Fassil</mat-expansion-panel-header></mat-expansion-panel>
  <mat-expansion-panel  (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cuenta de Ahorro Normal
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState?'Detalles':'Saber mas...'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="mat-content">
      <mat-card-subtitle>Descripción General</mat-card-subtitle>
      <mat-list role="list">
        <mat-list-item role="listitem">Cuenta de Ahorro, para Personas Naturales y Jurídicas, que permite realizar depósitos regularmente y de plazo indeterminado.

        </mat-list-item>
      </mat-list>
    </div>
    <div class="mat-content">
      <mat-card-subtitle>Beneficios</mat-card-subtitle>

      <mat-list role="list">
        <mat-list-item role="listitem">Sin límite de retiros</mat-list-item>
        <mat-list-item role="listitem">Permite el retiro de efectivo a través de Cajeros Automáticos</mat-list-item>
        <mat-list-item role="listitem">Acceso a nuestra Banca por Internet Fassilnet</mat-list-item>
        <mat-list-item role="listitem">Acceso a todos nuestros productos y servicios</mat-list-item>
        <mat-list-item role="listitem">Capitalización mensual de intereses</mat-list-item>
      </mat-list>
    </div>
    <div class="mat-content">
      <mat-card-subtitle>Características</mat-card-subtitle>
      <mat-list role="list">
        <mat-list-item role="listitem">Moneda: Bolivianos y dólares estadounidenses</mat-list-item>
        <mat-list-item role="listitem">Monto mínimo de apertura: Bs 700 o USD 100</mat-list-item>
        <mat-list-item role="listitem">Tasa de Interés: Ver Tarifario vigente</mat-list-item>
      </mat-list>
    </div>
    <div>
      <button mat-button color="primary" mat-raised-button routerLink="/createForm">Crear</button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel><mat-expansion-panel-header>Cuenta de Ahorro Mi Primera Cuenta</mat-expansion-panel-header></mat-expansion-panel>
  <mat-expansion-panel><mat-expansion-panel-header>Cuenta Corriente Chequera Azul</mat-expansion-panel-header></mat-expansion-panel>
</mat-accordion>

